{% load static %}
<html>
    <head>
        <title>Not Safe For Raccoons 🦝</title>
        <link rel="stylesheet" href="{% static 'app.css' %}" />
    </head>
    <body>
        <div class="sidebar">
            <h1>Not Safe For Raccoons 🦝</h1>
            {% if user.is_authenticated %}
            <p>Salut, {{ user }} !</p>
            <p><a href="{% url 'home' %}">Accueil</a></p>
            <p><a href="{% url 'blog_create' %}">Écrire un billet</a></p>
            <p><a href="{% url 'photo_upload' %}">Télécharger une photo</a></p>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
            </form>
            {% endif %}
        </div>
        <div class="main">{% block content %}{% endblock content %}</div>
    </body>
</html>
