{% load static %}
<html>
<head>
    <title>Not Safe For Raccoons 🦝</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}">
</head>
<body>
    <h1>Not Safe For Raccoons 🦝</h1>

    {% block content %}
    {% endblock content %}

    {% if user.is_authenticated %}
        <div class="tab-container">
            <a href="{% url 'home' %}" class="tab-button">Accueil</a>
            <a href="{% url 'blog_create' %}" class="tab-button">Écrire un post</a>
            <a href="{% url 'profile' %}" class="tab-button">Mon Profil</a>
            <form method="post" action="{% url 'logout' %}" class="tab-button">
                {% csrf_token %}
                <button type="submit" class="logout-button">Se déconnecter</button>
            </form>
        </div>
        <p>Vous êtes connecté en tant que {{ request.user }}.</p>
    {% endif %}
</body>

</html>
